{% load static %}
<!-- Header section -->
{% if request.user.is_authenticated %}
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 header-top-left">
                    <div class="top-info">
                        <i class="fa fa-phone"></i>
                        (+90) 5xx xxx xxxx
                    </div>
                    <div class="top-info">
                        <i class="fa fa-envelope"></i>
                        leventdemir518@gmail.com
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right header-top-right">
                    <div class="top-social">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="user-panel">
                        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-navbar">
                    <a href="{% url 'index' %}" class="site-logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    <div class="nav-switch">
                        <i class="fa fa-bars"></i>
                    </div>
                    <ul class="main-menu">
                        <li><a href="{% url 'index' %}">ANA SAYFA</a></li>
                        <li><a href="{% url 'products' %}">ÜRÜNLER</a></li>
                        <li><a href="{% url 'liked' %}">BEĞENİLENLER</a></li>
                        <li><a href="{% url 'about' %}">HAKKIMDA</a></li>
                        <li><a href="{% url 'contact' %}">İLETİŞİM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
{% else %}
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 header-top-left">
                    <div class="top-info">
                        <i class="fa fa-phone"></i>
                        (+90) 5xx xxx xxxx
                    </div>
                    <div class="top-info">
                        <i class="fa fa-envelope"></i>
                        leventdemir518@gmail.com
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right header-top-right">
                    <div class="top-social">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="user-panel">
                        <a href="{% url 'register' %}"><i class="fa fa-user-circle-o"></i> Kayıt Ol</a>
                        <a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Giriş Yap</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-navbar">
                    <a href="{% url 'index' %}" class="site-logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    <div class="nav-switch">
                        <i class="fa fa-bars"></i>
                    </div>
                    <ul class="main-menu">
                        <li><a href="{% url 'index' %}">ANA SAYFA</a></li>
                        <li><a href="{% url 'products' %}">ÜRÜNLER</a></li>
                        <li><a href="{% url 'about' %}">HAKKIMDA</a></li>
                        <li><a href="{% url 'contact' %}">İLETİŞİM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}